# Building Data Pipline Project 2
Prepared by:

Name: Mohamed Elyass Mohamed Ahmed

Passport: P06382503

School of Data Science

--------------

Will do:

1- Full data extruction

2- Full data transforming

3- Full data loading

##  1- Data Extruction stage:

    From YouTube

In [182]:
import requests
import time
import pandas as pd
import numpy as np           
import matplotlib.pyplot as plt        
import seaborn as sns 

API_KEY = 'AIzaSyAvxhmzryu1t_tU-3qnxqp4n2IQsRRMRB8'
CHANNEL_ID = 'UCt6Fac_ZmnsqZ-G-WNw51BQ'

In [183]:
channel_url = (
    f'https://www.googleapis.com/youtube/v3/channels'
    f'?part=snippet,contentDetails,statistics&id={CHANNEL_ID}&key={API_KEY}'
)
channel_response = requests.get(channel_url)
channel_data = channel_response.json()
uploads_playlist_id = channel_data['items'][0]['contentDetails']['relatedPlaylists']['uploads']

In [184]:
video_ids = []
next_page_token = None

while True:
    playlist_url = (
        f'https://www.googleapis.com/youtube/v3/playlistItems'
        f'?part=snippet&playlistId={uploads_playlist_id}&maxResults=50&key={API_KEY}'
    )
    if next_page_token:
        playlist_url += f'&pageToken={next_page_token}'
    playlist_response = requests.get(playlist_url)
    playlist_data = playlist_response.json()
    for item in playlist_data['items']:
        video_ids.append(item['snippet']['resourceId']['videoId'])
    next_page_token = playlist_data.get('nextPageToken')
    if not next_page_token:
        break

In [185]:
video_details = []

for i in range(0, len(video_ids), 50):  # API allows up to 50 IDs per request
    ids = ','.join(video_ids[i:i+50])
    video_url = (
        f'https://www.googleapis.com/youtube/v3/videos'
        f'?part=snippet,statistics,contentDetails&id={ids}&key={API_KEY}'
    )
    video_response = requests.get(video_url)
    video_data = video_response.json()
    for item in video_data['items']:
        snippet = item['snippet']
        stats = item['statistics']
        content = item['contentDetails']
        video_details.append({
            'videoId': item['id'],
            'title': snippet.get('title'),
            'description': snippet.get('description'),
            'publishedAt': snippet.get('publishedAt'),
            'tags': snippet.get('tags'),
            'categoryId': snippet.get('categoryId'),
            'duration': content.get('duration'),
            'definition': content.get('definition'),
            'caption': content.get('caption'),
            'viewCount': stats.get('viewCount'),
            'likeCount': stats.get('likeCount'),
            'favoriteCount': stats.get('favoriteCount'),
            'commentCount': stats.get('commentCount'),
        })
    time.sleep(1)  # To avoid hitting rate limits

In [186]:
df = pd.DataFrame(video_details)
df.to_csv('channel_videos_full.csv', index=False)
print("Saved video data to channel_videos_full.csv")

Saved video data to channel_videos_full.csv

### Read data to confirm extruction

In [187]:
df = pd.read_csv(r'C:\Users\HP\Documents\Project\Data Engineering\piplines\channel_videos_full.csv')

In [188]:
df.head(1)

,videoId,title,description,publishedAt,tags,categoryId,duration,definition,caption,viewCount,likeCount,favoriteCount,commentCount
0,PELZXWDLHQ4,PhD student view on stereotypes about Blacks i...,üìç PhD student view on stereotypes about Blacks...,2025-04-12T10:00:38Z,"['In Malaysia', 'Malaysia', 'Street Interviews...",22,PT10M1S,hd,False,180,12,0,2

### Etruction done

## 2- Data Transform Stage:

In [189]:

####  Change columns names

####  feature engineering

####  Remove duplicates

####  Handle missing values

####  Fix typos and inconsistent formats

####  Convert data types

####  Standardize values (e.g., units, categories)

####  Filter rows and columns

####  Encode categorical variables

####  Join/merge multiple datasets

####  Sort/order data

####  Validate transformed data

##  feature engineering

In [190]:
df.head(2)

,videoId,title,description,publishedAt,tags,categoryId,duration,definition,caption,viewCount,likeCount,favoriteCount,commentCount
0,PELZXWDLHQ4,PhD student view on stereotypes about Blacks i...,üìç PhD student view on stereotypes about Blacks...,2025-04-12T10:00:38Z,"['In Malaysia', 'Malaysia', 'Street Interviews...",22,PT10M1S,hd,False,180,12,0,2
1,uXd949SCmjI,Top 5 Differences Sudanese Have with Malaysians?,Top 5 Differences Sudanese Have with Malaysian...,2025-03-19T08:15:03Z,"['Malaysia', 'Malaysian Ladies', 'kualalumpur'...",22,PT17M42S,hd,False,356,20,0,3

In [192]:
df['categoryId'].value_counts()

categoryId
22    73
19     3
24     2
Name: count, dtype: int64

### $$$$ useless column and need to be removed $$$$

In [193]:
df.drop(columns='categoryId', inplace=True)

In [194]:
df.head(2)

,videoId,title,description,publishedAt,tags,duration,definition,caption,viewCount,likeCount,favoriteCount,commentCount
0,PELZXWDLHQ4,PhD student view on stereotypes about Blacks i...,üìç PhD student view on stereotypes about Blacks...,2025-04-12T10:00:38Z,"['In Malaysia', 'Malaysia', 'Street Interviews...",PT10M1S,hd,False,180,12,0,2
1,uXd949SCmjI,Top 5 Differences Sudanese Have with Malaysians?,Top 5 Differences Sudanese Have with Malaysian...,2025-03-19T08:15:03Z,"['Malaysia', 'Malaysian Ladies', 'kualalumpur'...",PT17M42S,hd,False,356,20,0,3

In [195]:
df.drop(columns=['tags', 'definition', 'caption', 'description', 'videoId'], inplace=True)

### $$$$ all above are useless columns also and need to be removed $$$$

In [196]:
df.head(2)

,title,publishedAt,duration,viewCount,likeCount,favoriteCount,commentCount
0,PhD student view on stereotypes about Blacks i...,2025-04-12T10:00:38Z,PT10M1S,180,12,0,2
1,Top 5 Differences Sudanese Have with Malaysians?,2025-03-19T08:15:03Z,PT17M42S,356,20,0,3

#### Feature selsction done

## Fix columns names

In [197]:
df.rename(columns={'publishedAt':'published_date', 'viewCount': 'view_count', 'likeCount' : 'like_count', 'favoriteCount': 'favorite_count', 'commentCount': 'comment_count'}, inplace=True)

In [198]:
df.head(1)

,title,published_date,duration,view_count,like_count,favorite_count,comment_count
0,PhD student view on stereotypes about Blacks i...,2025-04-12T10:00:38Z,PT10M1S,180,12,0,2

### Done

In [199]:
df.head(3)

,title,published_date,duration,view_count,like_count,favorite_count,comment_count
0,PhD student view on stereotypes about Blacks i...,2025-04-12T10:00:38Z,PT10M1S,180,12,0,2
1,Top 5 Differences Sudanese Have with Malaysians?,2025-03-19T08:15:03Z,PT17M42S,356,20,0,3
2,Biggest Misconceptions About Nigerians in Mala...,2025-02-19T08:00:49Z,PT41M14S,810,27,0,3

## Remove duplicates & Handle missing values

In [200]:
df.isna().sum()

title             0
published_date    0
duration          0
view_count        0
like_count        0
favorite_count    0
comment_count     0
dtype: int64

In [201]:
df.duplicated().sum()

0

### All looks good

## Convert data types

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           78 non-null     object
 1   published_date  78 non-null     object
 2   duration        78 non-null     object
 3   view_count      78 non-null     int64
 4   like_count      78 non-null     int64
 5   favorite_count  78 non-null     int64
 6   comment_count   78 non-null     int64
dtypes: int64(4), object(3)
memory usage: 4.4+ KB

### published_date & duration need to be changed into datetime dtype

In [205]:
df['published_date'] = pd.to_datetime(df['published_date'])

In [169]:
#### work on duration column

In [ ]:
import re

# First, convert ISO 8601 to MM:SS format
def iso8601_to_mmss(duration):
    match = re.match(r'PT(?:(\d+)H)?(?:(\d+)M)?(?:(\d+)S)?', duration)
    m = int(match.group(2)) if match and match.group(2) else 0
    s = int(match.group(3)) if match and match.group(3) else 0
    # If there are hours, add them to minutes
    if match and match.group(1):
        m += int(match.group(1)) * 60
    return f"{m:02d}:{s:02d}"

# Convert to MM:SS format first
df['duration'] = df['duration'].apply(iso8601_to_mmss)

# Now convert to datetime
df['duration'] = pd.to_datetime(df['duration'], format='%M:%S')

print(df[['duration']].head())
print(df['duration'].dtype)

    # Save cleaned data to CSV

             duration
0 1900-01-01 00:10:01
1 1900-01-01 00:17:42
2 1900-01-01 00:41:14
3 1900-01-01 00:09:03
4 1900-01-01 00:24:35
datetime64[ns]

In [210]:
df.head()

,title,published_date,duration,view_count,like_count,favorite_count,comment_count,year,month,day
0,PhD student view on stereotypes about Blacks i...,2025-04-12 10:00:38+00:00,1900-01-01 00:10:01,180,12,0,2,2025,4,12
1,Top 5 Differences Sudanese Have with Malaysians?,2025-03-19 08:15:03+00:00,1900-01-01 00:17:42,356,20,0,3,2025,3,19
2,Biggest Misconceptions About Nigerians in Mala...,2025-02-19 08:00:49+00:00,1900-01-01 00:41:14,810,27,0,3,2025,2,19
3,The Biggest Misconceptions About Chinese Malay...,2025-01-30 00:00:18+00:00,1900-01-01 00:09:03,6381,88,0,89,2025,1,30
4,Biggest Challenges Foreigners Face in Rural Ma...,2025-01-01 10:00:45+00:00,1900-01-01 00:24:35,2849,41,0,33,2025,1,1

In [211]:
df.head()

,title,published_date,duration,view_count,like_count,favorite_count,comment_count,year,month,day
0,PhD student view on stereotypes about Blacks i...,2025-04-12 10:00:38+00:00,1900-01-01 00:10:01,180,12,0,2,2025,4,12
1,Top 5 Differences Sudanese Have with Malaysians?,2025-03-19 08:15:03+00:00,1900-01-01 00:17:42,356,20,0,3,2025,3,19
2,Biggest Misconceptions About Nigerians in Mala...,2025-02-19 08:00:49+00:00,1900-01-01 00:41:14,810,27,0,3,2025,2,19
3,The Biggest Misconceptions About Chinese Malay...,2025-01-30 00:00:18+00:00,1900-01-01 00:09:03,6381,88,0,89,2025,1,30
4,Biggest Challenges Foreigners Face in Rural Ma...,2025-01-01 10:00:45+00:00,1900-01-01 00:24:35,2849,41,0,33,2025,1,1

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           78 non-null     object
 1   published_date  78 non-null     datetime64[ns, UTC]
 2   duration        78 non-null     datetime64[ns]
 3   view_count      78 non-null     int64
 4   like_count      78 non-null     int64
 5   favorite_count  78 non-null     int64
 6   comment_count   78 non-null     int64
 7   year            78 non-null     int32
 8   month           78 non-null     int32
 9   day             78 non-null     int32
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), int32(3), int64(4), object(1)
memory usage: 5.3+ KB

### Converting done

## Part of feature engineering too
#### # Extract year, month, and day

In [213]:
df['year'] = df['published_date'].dt.year
df['month'] = df['published_date'].dt.month
df['day'] = df['published_date'].dt.day

# Check the result
print(df[['published_date', 'year', 'month', 'day']].head())

             published_date  year  month  day
0 2025-04-12 10:00:38+00:00  2025      4   12
1 2025-03-19 08:15:03+00:00  2025      3   19
2 2025-02-19 08:00:49+00:00  2025      2   19
3 2025-01-30 00:00:18+00:00  2025      1   30
4 2025-01-01 10:00:45+00:00  2025      1    1

In [214]:
df.head()

,title,published_date,duration,view_count,like_count,favorite_count,comment_count,year,month,day
0,PhD student view on stereotypes about Blacks i...,2025-04-12 10:00:38+00:00,1900-01-01 00:10:01,180,12,0,2,2025,4,12
1,Top 5 Differences Sudanese Have with Malaysians?,2025-03-19 08:15:03+00:00,1900-01-01 00:17:42,356,20,0,3,2025,3,19
2,Biggest Misconceptions About Nigerians in Mala...,2025-02-19 08:00:49+00:00,1900-01-01 00:41:14,810,27,0,3,2025,2,19
3,The Biggest Misconceptions About Chinese Malay...,2025-01-30 00:00:18+00:00,1900-01-01 00:09:03,6381,88,0,89,2025,1,30
4,Biggest Challenges Foreigners Face in Rural Ma...,2025-01-01 10:00:45+00:00,1900-01-01 00:24:35,2849,41,0,33,2025,1,1

## 3- Data loading stage:

###  1- To Google big query done

In [218]:
############### done

### 2- To csv

In [217]:
# Save cleaned data to CSV
df.to_csv('cleaned_youtube_data.csv', index=False)

### 3- To DB SQLite

In [216]:
# First, check if your DataFrame exists and has data
print("DataFrame info:")
print(f"Shape: {df.shape}")
print(f"Columns: {df.columns.tolist()}")
print(f"First few rows:")
print(df.head())

# Now save to database with error handling
import sqlite3
import pandas as pd

try:
    # Create connection
    conn = sqlite3.connect('youtube_data.db')
    
    # Save DataFrame to database
    df.to_sql('videos', conn, if_exists='replace', index=False)
    
    # Verify it worked
    cursor = conn.cursor()
    cursor.execute("SELECT COUNT(*) FROM videos;")
    row_count = cursor.fetchone()[0]
    print(f"Successfully saved {row_count} rows to database!")
    
    # Show table names
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    print(f"Tables in database: {tables}")
    
    conn.close()
    
except Exception as e:
    print(f"Error: {e}")
    conn.close()

DataFrame info:
Shape: (78, 10)
Columns: ['title', 'published_date', 'duration', 'view_count', 'like_count', 'favorite_count', 'comment_count', 'year', 'month', 'day']
First few rows:
                                               title  \
0  PhD student view on stereotypes about Blacks i...
1   Top 5 Differences Sudanese Have with Malaysians?
2  Biggest Misconceptions About Nigerians in Mala...
3  The Biggest Misconceptions About Chinese Malay...
4  Biggest Challenges Foreigners Face in Rural Ma...

             published_date            duration  view_count  like_count  \
0 2025-04-12 10:00:38+00:00 1900-01-01 00:10:01         180          12
1 2025-03-19 08:15:03+00:00 1900-01-01 00:17:42         356          20
2 2025-02-19 08:00:49+00:00 1900-01-01 00:41:14         810          27
3 2025-01-30 00:00:18+00:00 1900-01-01 00:09:03        6381          88
4 2025-01-01 10:00:45+00:00 1900-01-01 00:24:35        2849          41

   favorite_count  comment_count  year  month  day
0               0              2  2025      4   12
1               0              3  2025      3   19
2               0              3  2025      2   19
3               0             89  2025      1   30
4               0             33  2025      1    1
Successfully saved 78 rows to database!
Tables in database: [('videos',)]

## Done ETL Process